.listitem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.complete {
  text-decoration: line-through;
}

.active {
  background-color: aqua;
}
.authform {
  background-color: aqua;
}

.signinsignup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 15px;
}
